<div class="container">
    <h3>Pending Requests</h3>
    <div class="pend-trans">
        {{#each Pending}}
        <ul>
            <li>
                <p>User ID: {{userId}}</p>
                <p>Amount Requested: ${{amount}}</p>
                <p>Date Created: {{createdAt}}</p>
                <button type="submit" class="btn btn-block mt-2 approve">Approve</button>
                <input name="reason" type="text" class="form-control" placeholder="Reason for denial">
                <button type="submit" class="btn btn-block mt-2 deny">Deny</button>
            </li>
            
        </ul>
        {{/each}}
    </div>
</div>

<div class="container">
    <h3>Approved Requests</h3>
    <div class="pend-trans">
        {{#each Approved}}
        <ul>
            <li>
                <p>User ID: {{userId}}</p>
                <p>Amount Requested: ${{amount}}</p>
                <p>Date Approved: {{createdAt}}</p>
            </li>
            
        </ul>
        {{/each}}
    </div>
</div>